<div class="container">
  
  <footer class="footer">
    <small>
      Copyright &copy;  Anagrafica Movimento 5 Stelle Olbia <a href="http://alpha-blog-ichnos.herokuapp.com/">di Giovanni Piccinnu</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'Chi Siamo', pages_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>